
.container{
    background-color:white;
    height:100vh;
    padding:20px;
}
.heading{
    color:black;
}
.SubContainer{
    /* width:70%; */
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
    justify-content:center;
}

.ProgressBody{
    border-radius:10px;
    border:1px solid gray;
    width:60%;
    overflow-y: hidden;
    position:relative;
    height:30px;
}
.progressText{
    color:black;
    text-align:center;
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ProgressGreen{
    background-color:rgb(42, 173, 3);
    height:30px;
}
.buttonCtn{
    display:flex;
    flex-direction:row;
    gap:15px;
}
.btnst{
    padding:10px;
}